<footer class="app-footer">
	<small class="ml-auto">{% if version is defined %}<span class="mx-2">v{{ version }}</span>{% endif %} &copy; {{ "now"|date('Y', timezone="Europe/Berlin") }} <a href="/">Lagocki Einkauf</a>.</small>
</footer>